<h1>Interests</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <button type="button" class="btn btn-primary">Surfing</button>
        <button type="button" class="btn btn-primary">Running</button>
        <button type="button" class="btn btn-primary">Hiking</button>
        <button type="button" class="btn btn-primary">Climbing</button>
      </tr>
      
      <tr>
        <button type="button" class="btn btn-primary">Dining</button>
        <button type="button" class="btn btn-primary">Beach</button>
        <button type="button" class="btn btn-primary">Cycling</button>
        <button type="button" class="btn btn-primary">Tennis</button>
        
      <tr>
        <button type="button" class="btn btn-primary">Soccer</button>
        <button type="button" class="btn btn-primary">Bars</button>
        <button type="button" class="btn btn-primary">Live Music</button>
        <button type="button" class="btn btn-primary">Art</button>
      </tr>
      
  </tbody>
</table>