<h1>Interests</h1>
<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <div class="container">
    <br><p>Click atleast 5 interests</p>
    <div class="btn-group col-xs-12" data-toggle="buttons">
      <% @interestList.each do |interest| %> 
        <label class="btn btn-default">
            <input type="checkbox" name=<%= interest.name %> id=<%= interest.id %> value="apple"><%= interest.name %>
        </label>
        <% end %>
    </div>
</div>
    
      
  </tbody>
</table>