


 <!-- <%# @interestChunks.each do |chunk| %> -->




<section id="photos">
  <br>
heyyyyyyyyyyyyy
</section>
<%= javascript_include_tag 'page_specific/mood.js'%>

<br><br>
<p> <%= link_to 'Current Users:', users_path %> <%= User.count %></p>
