<div class="jumbotron">
 <div id="home">
  <h1>Welcome to Boomerang</h1>
  <h2>A real-time social networking app</h2>
  <%= link_to "Let's get it", user_path('sign_in'), class: "btn-main" %>
 </div>
</div>
