<table class="table">
  <thead>
    <tr>
      
      <th>Person Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @inboxMsgs.each do |msg| %>
      <td><%= msg["secUserID"] %></td>
      <td><%= msg["typeName"] %></td>
     
      <% end %>
    </tr>
  </tbody>
</table>