<td>
  <p style="float: left;">
      <% if user.avatar? %>
        <%= image_tag user.avatar.url(:thumb) %>
      <% end %>
  </p>
</td>
<td>
  <%= link_to user.name, user %>
</td>
<td><%= link_to user.email, user %></td>
