<div class="container">
  <div class="row">
    <h3>Ali's</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @fakeusers.each do |fakeuser| %>
            <tr>
              <%= render fakeuser %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




  <thead>
    <tr>

      <th>Person Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%# <% @inboxMsgs.each do |msg| %\\> %>
      <%# <td><%= msg["secUserID"] %\\></td> %>
      <%# <td><%= msg["typeName"] %\\></td> %>

      <%# <% end %\\> %>
    </tr>
  </tbody>
</table>
