<br><br><br>
Need to be rewritten from the scratch :/
<div class="container" style="margin-bottom:-45px">
  <div class="row">
    <div class="column" >
      <table class="table">
       <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>
