

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}



  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  p {
    font-size: 1.1em;
    line-height: 1.2em;
  }


footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
  }

  footer a {
    color: #555;
  }

  footer a:hover {
    color: #222;
  }

  footer small {
    float: left;
  }

  footer ul {
    float: right;
    list-style: none;
  }

  footer ul li {
    float: left;
    margin-left: 15px;
  }
  .round-image-50 {
      background-color: white;
      border: 3px solid white;
      border-radius: 29px;
      -moz-border-radius: 29px;
      -webkit-border-radius: 29px;
      height: 75px;
      width: 75px;
      overflow: hidden;
      text-align: center;
      img { width: 100% }
  }

  .navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}
