// Place all the styles related to the match controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.center {
    height: 400px;
    max-height: 100%;
    width: 300px;
    margin: 0 auto;
    max-width: 100%;
}
.container .center h2 {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 5px !important;
}

.card-center {
    margin: 0 auto;
    position: relative;
    height: 300px;
}
.card-img {
    @extend .img-responsive;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    float:left;
    text-align: center;
    height: 300px;
    width: 300px;
    max-width: 100%;
    background-size: cover;
}
.no-user {
    @extend .img-responsive;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    float:left;
    text-align: center;
    height: 300px;
    width: 300px;
    max-width: 100%;
    background-size: cover;
}
@media only screen and (max-width: 768px){
    .card-img { width: 100%; }
}
.user-name {
    position: absolute;
    text-shadow:0 2px 4px rgba(0,0,0,.2);
    top: 250px;
    left: 13px;
    color: white;
    text-decoration: none;
    font-size: 27px;
    -webkit-text-stroke: 0.3px black;
    text-align: left;
    display: block;
}
