// Place all the styles related to the mood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');



.square {
    float:left;
    position: relative;
    width: 25%;
    padding-bottom : 25%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.content {
    position:absolute;
    color: "white" !important; 
    height:98%; /* = 100% - 2*10% padding */
    width:98%; /* = 100% - 2*5% padding */
    padding:  2%;
    background-image: "surf.jpg";
    font-size: 30px;
    .rs{
    	
    	display: inline-block;
    	width:auto;
    	height:auto;
    	max-height:90%;
    	max-width:100%;
    	}


}


.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}
.btn-sq-lg {
  width: 375px !important;
  height: 375px !important;
  font-size: 2.2em
}


#surfing{

	background-image: url("surf.jpg");
	background-size: cover;

}
#food{
	background-image: url("food.jpeg");
	background-size: cover;
	color: "white"

}
#drinks{
	background-image: url("drinks.jpeg");
	background-size: cover;
	color: "black"

}
#climbing{
	background-image: url("climbing.jpeg");
	background-size: cover;
	color: "black"

}
#hiking{
	background-image: url("hiking.jpg");
	background-size: cover;
	color: "white"

}
#movies{
	background-image: url("movies.jpg");
	background-size: cover;
	color: "white"

}
#salon{
	background-image: url("salon.jpeg");
	background-size: cover;
	color: "black"

}
#shopping{
	background-image: url("shopping.jpeg");
	background-size: cover;
	color: "black"

}
#soccer{
	background-image: url("soccer.jpeg");
	background-size: cover;
	color: "black"

}


/* The heart of the matter */
.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}

